refs
cache
data
.xlsx
.vscode

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/collection-checkpoint.ipynb

notebooks/.ipynb_checkpoints/exploration-checkpoint.ipynb
